branca # ==0.7.0
folium # ==0.15.1
geopy
geopandas #==0.14.4 
matplotlib
openpyxl #==3.1.2
pandas # ==2.2.2
plotly #==5.18.0
prophet #==1.1.5
nominatim
seaborn #==0.13.2
streamlit # 1.22.0
streamlit_folium #==0.18.0
torch
pytorch-forecasting
